@import "tailwindcss";

:root {
  --navy: #0b1826; /* Фон снизу (море) */
  --helmet: #0f2236; /* Фон шлема (градиент) */
  --sky: #3f7fa3; /*  Фон сверху (небо) */
  --title: #3d6a8e; /* Цвет для заголовков и текста */
  --mist: #b9cfdc; /* Цвет для текста и элементов интерфейса */
  --gold: #b8924a; /* Цвет для кнопок и акцентов */
  --red: #d3232a; /* Цвет для ошибок и предупреждений */
}

@theme inline {
  --color-brand-navy: var(--navy);
  --color-brand-helmet: var(--helmet);
  --color-brand-sky: var(--sky);
  --color-brand-title: var(--title);
  --color-brand-mist: var(--mist);
  --color-brand-gold: var(--gold);
  --color-brand-red: var(--red);

  --font-display: var(--font-jost);
  --font-heading: var(--font-montserrat);
  --font-cast: var(--font-barlow);
}

body {
  background: var(--navy);
  color: var(--mist);
  font-family: var(--font-montserrat), sans-serif;
}
